{% load static %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | Dan Aleko</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="
        background: url({% static 'main/img/bg.jpg' %}) no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-size: cover;
        background-position: center;">
<div class="wrapper">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <h1>Register</h1>
        <div class="input-box">
            {{ form.username }}
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            {{ form.email }}
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            {{ form.password }}
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="input-box">
            {{ form.confirm_password }}
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox" required >Remember Me</label>
        </div>
        <button type="submit" class="btn">Register</button>
        <div class="register-link">
            <p>Have an account? <a href="{% url 'login' %}">Login</a></p>
        </div>
    </form>
</div>
</body>
</html>